<h4>
    <% if (showRestaurant) { %>
        <a href="#restaurants/<%= RestaurantId.id %>"><%= RestaurantId.attributes.Name %></a> - 
    <% } %>
    <a href="#menuitems/<%= id %>"><%= Name %></a>
</h4>

<div class="row-fluid" style="padding-bottom: 10px;">
    <div class="col-lg-6" style="padding-left:0;">
        <% var rating = Rating; %>
        <div style="float:left;" class="star" data-readonly="true" data-score="<%= rating %>"></div> (<%= RatingCount %>)
    </div>
    <div class="col-lg-6 text-right">
        <% var fontColor = "black"; if (SuccessRateCount != 0 && SuccessRate < 50) fontColor = "#dc2c0f"; else if (SuccessRate >= 50) fontColor = "#388f58"; %>
        <font color="<%= fontColor %>">Success: <%= SuccessRate %>% (<%= SuccessRateCount %>)</font>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">        
        <% var thumbnail = hiddenCuisine.getThumbnail(ImageUrl); %>
        <a href="#menuitems/<%= id %>"><img class="image" src="<%= thumbnail %>" alt="<%= Name %>" /></a>
    </div>
</div>